*.lnk

.probe/*
.vscode/*
$devFiles/servers*
config/fml.toml
config/forge-client.toml
config/jei/jei-client.ini
config/jei/jei-debug.ini
icon.png
local/*
logs/*
options.txt
rhino.local.properties
saves/*
usercache.json
usernamecache.json
config/jei/blacklist.cfg
config/jei/ingredient-list-mod-sort-order.ini
config/jei/ingredient-list-type-sort-order.ini
config/jei/recipe-category-sort-order.ini
kubejs/client_scripts/jsconfig.json
kubejs/config/probe-settings.json
$devFiles/todo.md
crash-reports/*
servers.dat_old
servers.dat
fc6.code-workspace
realms_persistence.json
$files/servers/*
*-client.toml
downloads/*

.probe
command_history.txt
kubejs/config/client.properties
kubejs/startup_scripts/jsconfig.json
kubejs/server_scripts/jsconfig.json
